# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TelRanModul2\WeatherForecast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
